# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
/.pnp
.pnp.js

/ssl/*

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
/createPR/.env*
# project files
/.circleci
/.env
/SSR-Approach-2/*.txt
/SSR-Approach-2/public/*.js
/SSR-Approach-2/public/fav
/SSR-Approach-2/public/font
/SSR-Approach-2/public/imgs
/SSR-Approach-2/public/modules
/SSR-Approach-2/public/static
/SSR-Approach-2/public/apple-app-site-association
/SSR-Approach-2/public/asset-manifest.json
/SSR-Approach-2/public/index.html
/SSR-Approach-2/public/precache-manifest.8a5ddd85e2a67f93567e4637674c4d8b.js
/SSR-Approach-2/public/robots.txt
/SSR-Approach-2/public/service-worker.js
/public/static/fav/android-icon-36x36.png
/public/static/fav/android-icon-48x48.png
/public/static/fav/android-icon-72x72.png
/public/static/fav/android-icon-96x96.png
/public/static/fav/android-icon-144x144.pnxwg
/public/static/fav/android-icon-192x192.png
/public/static/fav/apple-icon-57x57.png
/public/static/fav/apple-icon-60x60.png
/public/static/fav/apple-icon-72x72.png
/public/static/fav/apple-icon-76x76.png
/public/static/fav/apple-icon-114x114.png
/public/static/fav/apple-icon-120x120.png
/public/static/fav/apple-icon-144x144.png
/public/static/fav/apple-icon-152x152.png
/public/static/fav/apple-icon-180x180.png
/public/static/fav/apple-icon-precomposed.png
/public/static/fav/apple-icon.png
/public/static/fav/browserconfig.xml
/public/static/fav/favicon-16x16.png
/public/static/fav/favicon-32x32.png
/public/static/fav/favicon-96x96.png
/public/static/fav/favicon.ico
/public/static/fav/manifest.json
/public/static/fav/ms-icon-70x70.png
/public/static/fav/ms-icon-144x144.png
/public/static/fav/ms-icon-150x150.png
/public/static/fav/ms-icon-310x310.png
/public/font/BlenderPro-Bold.woff
/public/font/BlenderPro-Bold.woff2
/public/font/BlenderPro-BoldItalic.woff
/public/font/BlenderPro-BoldItalic.woff2
/public/font/BlenderPro-Book.woff
/public/font/BlenderPro-Book.woff2
/public/font/BlenderPro-BookItalic.woff
/public/font/BlenderPro-BookItalic.woff2
/public/font/BlenderPro-Heavy.woff
/public/font/BlenderPro-Heavy.woff2
/public/font/BlenderPro-Medium.woff
/public/font/BlenderPro-Medium.woff2
/public/font/BlenderPro-MediumItalic.woff
/public/font/BlenderPro-MediumItalic.woff2
/public/font/BlenderPro-Thin.woff
/public/font/BlenderPro-Thin.woff2
/public/font/BlenderPro-ThinItalic.woff
/public/font/BlenderPro-ThinItalic.woff2
/public/font/stylesheet.css
/public/imgs/featured.png
/public/apple-app-site-association
/public/manifest.json
/public/imgs/featured.jpg
/src/route.js
/src/imgs/featured.jpg
/src/imgs/splash_mobile.png
/src/imgs/splash_web.png
/src/styles/components/_Rail.scss
/src/styles/components/_cms-page.scss
/src/assets/font/stylesheet.css
/src/styles/pages/_faq.scss
/src/styles/pages/ContactUS.scss
/src/styles/pages/PrivacyPolicy.scss
/src/styles/pages/TermsOfUse.scss
/src/components/icons/SettingsIcon.md
/src/components/icons/PlayIcon.md
/src/components/icons/AvatarIcon.js
/src/components/icons/CloseIcon.js
/src/components/icons/CloseIcon.md
/src/components/icons/FullscreenEnter.js
/src/components/icons/FullscreenEnter copy.js
/src/components/icons/FullscreenExit.js
/src/components/icons/GoBackArrowIcon.js
/src/components/icons/GoBackArrowIcon.md
/src/components/icons/InfoIcon.js
/src/components/icons/LeftArrowIcon.svg
/src/components/icons/NextBtnOutlineIcon.js
/src/components/icons/PauseIcon.js
/src/components/icons/PauseIcon.md
/src/components/icons/PlayIcon.js
/src/components/icons/PlayOutlineIcon.js
/src/components/icons/RightArrowIcon.svg
/src/components/icons/SearchIcon.js

/src/components/icons/InfoIconFilled.js
/src/components/icons/VolMuteIcon.js
/src/components/icons/VolumeIcon.js


/src/components/icons/SearchIcon.md
/src/components/icons/SettingsIcon.js
/src/components/icons/SettingsOutlineIcon.js
/src/components/icons/SubtitleIcon.js
/src/components/icons/VolMuteIcon.js
/src/components/icons/VolumeIcon.js
/src/components/icons/WarningIcon.js
/src/components/icons/VolumeIconFilled.js
/src/components/icons/SubtitleIconFilled.js
/src/components/icons/SettingsIconFilled.js
/src/components/icons/RewindIconFilled.js
/src/components/icons/RewindIcon.js
/src/components/icons/PauseIconFilled.js
/src/components/icons/NextBtnFilledIcon.js
/src/components/icons/ForwardIconFilled.js
/src/components/icons/ForwardIcon.js
/src/constants/breakpoints.js
/src/constants/apiVersionMap.js
/src/defaults/config.default.js
/src/defaults/defaultStaticPageConfig.json
/src/defaults/playerConfig.default.json
/src/defaults/theme.default.json
/src/imgs/Apple_logo.svg
/src/imgs/appstore-badge.png
/src/imgs/facebook_icon.svg
/src/imgs/fb.png
/src/imgs/google-play-badge.png
/src/imgs/GoogleLogo.svg
/src/imgs/ic_details_play.png
/src/imgs/imdbLogo.jpeg
/src/imgs/insta.png
/src/styles/settings/_typography.scss
/src/components/player/Player.scss
/src/styles/components/_footer.scss
/serverless.env.yml
public/favicon.ico
public/static/fav/android-icon-36x36.png
public/static/fav/android-icon-48x48.png
public/static/fav/android-icon-72x72.png
public/static/fav/android-icon-96x96.png
public/static/fav/android-icon-144x144.png
public/static/fav/android-icon-192x192.png
public/static/fav/apple-icon-57x57.png
public/static/fav/apple-icon-60x60.png
public/static/fav/apple-icon-72x72.png
public/static/fav/apple-icon-76x76.png
public/static/fav/apple-icon-114x114.png
public/static/fav/apple-icon-120x120.png
public/static/fav/apple-icon-144x144.png
public/static/fav/apple-icon-152x152.png
public/static/fav/apple-icon-180x180.png
public/static/fav/apple-icon-precomposed.png
public/static/fav/apple-icon.png
public/static/fav/favicon-16x16.png
public/static/fav/favicon-32x32.png
public/static/fav/favicon-96x96.png
public/static/fav/ms-icon-70x70.png
public/static/fav/ms-icon-144x144.png
public/static/fav/ms-icon-150x150.png
public/static/fav/ms-icon-310x310.png
public/static/font/BlenderPro-Bold.woff
public/static/font/BlenderPro-Bold.woff2
public/static/font/BlenderPro-BoldItalic.woff
public/static/font/BlenderPro-BoldItalic.woff2
public/static/font/BlenderPro-Book.woff
public/static/font/BlenderPro-Book.woff2
public/static/font/BlenderPro-BookItalic.woff
public/static/font/BlenderPro-BookItalic.woff2
public/static/font/BlenderPro-Heavy.woff
public/static/font/BlenderPro-Heavy.woff2
public/static/font/BlenderPro-Medium.woff
public/static/font/BlenderPro-Medium.woff2
public/static/font/BlenderPro-MediumItalic.woff
public/static/font/BlenderPro-MediumItalic.woff2
public/static/font/BlenderPro-Thin.woff
public/static/font/BlenderPro-Thin.woff2
public/static/font/BlenderPro-ThinItalic.woff
public/static/font/BlenderPro-ThinItalic.woff2
public/static/font/stylesheet.css
src/components/icons/ForwardIcon.js
src/components/icons/ForwardIconFilled.js
src/components/icons/NextBtnFilledIcon.js
src/components/icons/PauseIconFilled.js
src/components/icons/PlayIconFilled.js
src/components/icons/RewindIcon.js
src/components/icons/RewindIconFilled.js
src/components/icons/SettingsIconFilled.js
src/components/icons/SubtitleIconFilled.js
src/components/icons/VolumeIconFilled.js
src/components/icons/WarningIcon.js


form